## Settings file was created by plugin Player Customizer v1.9.0
## Plugin GUID: com.newpr.playercustomizer

[General]

## Последний выбранный набор спрайтов (st1–st9).
# Setting type: String
# Default value: st1
LastCharacter = OrientalShorthairCat

